/* ================================================================================================= */

table.yaal {
	border-collapse: collapse;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
}
table.yaal th, table.yaal td {
	padding-left: 8px;
	padding-right: 8px;
}
table.yaal td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #888;
	height: 20pt;
}
table.yaal td.good, table.yaal td.fine, table.yaal td.average, table.yaal td.fail, table.yaal td.envbug {
	text-align: center;
}
table.yaal td.good {
	background: #0f0;
	color: #000;
}
table.yaal td.fine {
	background: #be0;
	color: #000;
}
table.yaal td.average {
	background: #ff0;
	color: #000;
}
table.yaal td.fail {
	background: #f22;
	color: #000;
}
table.yaal td.envbug {
	background: #ffe8e8;
	color: #000;
}
.note {
	vertical-align: 2px;
	font-size: 6pt;
}
ol {
	list-style: decimal;
}

/* ================================================================================================= */
