Source: yaal
Priority: extra
Maintainer: Marcin Konarski <amok@codestation.org>
Build-Depends: debhelper (>= 8.0.0), g++ (>= 4.2), make (>= 3.81), autoconf, libtool, pkg-config, libpcre3-dev, libxml2-dev, libxslt1-dev, libyaml-dev, zlib1g-dev, libssl-dev, libncurses-dev, doxygen, graphviz | raspi-config, asciidoctor
Standards-Version: 3.9.2
Section: libs
Homepage: http://codestation.org/
Vcs-Git: https://codestation.org/repo/yaal.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/yaal.git;a=summary

Package: yaal-doc
Section: doc
Architecture: any
Depends: yaal-dev (= ${binary:Version})
Description: Yet Another Abstraction Layer - general purpose C++ library - documentation for developers.
 Cross platform C++ library.
 Yaal stands for: Yet Another Abstraction Layer
 Library provides unified high level handling of multiple domains:
 threads, database access, networking, xml DOM operations.
 Contains fully fledged OO programming language named Huginn.
 This version of package contains documentation files.

Package: yaal-dev
Section: libdevel
Architecture: any
Depends: yaal (= ${binary:Version})
Description: Yet Another Abstraction Layer - general purpose C++ library - development package.
 Cross platform C++ library.
 Yaal stands for: Yet Another Abstraction Layer
 Library provides unified high level handling of multiple domains:
 threads, database access, networking, xml DOM operations.
 Contains fully fledged OO programming language named Huginn.
 This version of package contains headers and development,
 debug versions of the libraries.

Package: yaal
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Yet Another Abstraction Layer - general purpose C++ library - runtime package.
 Cross platform C++ library.
 Yaal stands for: Yet Another Abstraction Layer
 Library provides unified high level handling of multiple domains:
 threads, database access, networking, xml DOM operations.
 Contains fully fledged OO programming language named Huginn.
 This version of package contains runtime files.
